   <br/><br/><br/><br/><br/><br/>
   <i><h3 align="center">List of jobs</h3></i>
        <%if !@jobsearches.nil?%>
        <table border="1">
          <tr>
           <%if !@jobsearches.blank? %>
                    <th>Keyword</th>
                    <th>Emp type</th>
                    <th>Job categories</th>
                    <th>Industry</th>
                    <th>Desired salary</th>
                    <th>Languages</th>
                    <th>Japan lang level</th>
                    <th>Eng lang level</th>
                    <th>Position level</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
               

                <% @jobsearches.each do |jobsearch| %>
                  <tr>
                    <td><%= jobsearch.keyword %></td>
                    <td><%= jobsearch.emp_type %></td>
                    <td><%= jobsearch.job_categories %></td>
                    <td><%= jobsearch.industry %></td>
                    <td><%= jobsearch.desired_salary %></td>
                    <td><%= jobsearch.languages %></td>
                    <td><%= jobsearch.japan_lang_level %></td>
                    <td><%= jobsearch.eng_lang_level %></td>
                    <td><%= jobsearch.position_level %></td>
                   <td> <%= link_to 'Show', jobsearch if current_user.admin? %></td>
                   <td> <%= link_to 'Edit', edit_jobsearch_path(jobsearch) if current_user.admin? %></td>
                   <td> <%= link_to 'Destroy', jobsearch, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin?%></td>
                  </tr>
                <% end %>
            <%else%>
              <h3 align="center"><b >No Result Found.....</b></h3>  
            <%end%>
       </table>
       <h5 align="center"><%= link_to 'Back', search_jobsearches_path ,:class=>"btn btn"  %></h5>
     <%end%> 
        